h3 {
	border-bottom: 1px solid #aaa;
	background-color: #eee;
}

.bnf {
	background-color: white;
	padding-left: 0.7em;
}

/* Those two are hacks, they were added
   for the Memory section of il.html
 */

ul {
	margin-bottom: 1em;
	margin-top: 1em;
}

ul:last-child {
	margin: 0;
}
